---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ __admin_password_secret }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/component: gateway
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/part-of: '{{ ansible_operator_meta.name }}'
stringData:
  password: '{{ __admin_password }}'
  username: '{{ admin_user | default("admin") }}'
