---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-startup'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/component: gateway
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/part-of: '{{ ansible_operator_meta.name }}'
type: Opaque
stringData:
  container-startup.yml: |
    gateway_admin_username: {{ admin_user | default('admin') | to_json }}
    gateway_admin_password: {{ __admin_password | to_json }}
    gateway_node_count: 1
