---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-redis-url'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/component: gateway-redis
    app.kubernetes.io/managed-by: awx-operator
type: Opaque
stringData:
  url: {{ __redis_url_from_spec | to_json }}
