---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ __secret_key_secret }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/component: gateway
    app.kubernetes.io/managed-by: awx-operator
stringData:
  SECRET_KEY: '{{ __secret_key }}'
