- name: DATABASE_USER
  valueFrom:
    secretKeyRef:
      name: '{{ postgres_configuration_secret }}'
      key: username
- name: DATABASE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: '{{ postgres_configuration_secret }}'
      key: password
- name: DATABASE_HOST
  valueFrom:
    secretKeyRef:
      name: '{{ postgres_configuration_secret }}'
      key: host
- name: DATABASE_PORT
  valueFrom:
    secretKeyRef:
      name: '{{ postgres_configuration_secret }}'
      key: port
