- name: PGPASSWORD
  valueFrom:
    secretKeyRef:
      name: '{{ postgres_configuration_secret }}'
      key: password
- name: PGHOST
  valueFrom:
    secretKeyRef:
      name: '{{ postgres_configuration_secret }}'
      key: host
- name: PGUSER
  valueFrom:
    secretKeyRef:
      name: '{{ postgres_configuration_secret }}'
      key: username
- name: PGPORT
  valueFrom:
    secretKeyRef:
      name: '{{ postgres_configuration_secret }}'
      key: port
# Connect DB. Absent key falls back to "postgres" in the script.
- name: PGDATABASE
  valueFrom:
    secretKeyRef:
      name: '{{ postgres_configuration_secret }}'
      key: database
      optional: true
