molecule<26.9.1
molecule-docker
yamllint
ansible-lint
openshift!=0.13.0
jmespath
ansible-core
ansible-compat<27  # https://github.com/ansible-community/molecule/issues/3903
Cython<4  # https://github.com/yaml/pyyaml/issues/601
